{% extends "base.html" %}
{% block content %}
<form action="" method="post">
  <p>
    <input type="text" name="user" placeholder="login">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </p>
</form>
{% endblock content %}
