{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
    {% for zone in zones %}
      <tr><td><a href="{{ url_for('zone', zone=zone) }}">{{zone['name']}}</a></td></tr>
    {% else %}
      <tr><td>no zones</td></tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
