{% extends "base.html" %}
{% block content %}
<div><a href="{{url_for('zones')}}">Back to zones list</a></div>
<div class="row">
  <div class="col-md-10">
    <form action="" method="post">
    <table class="table table-striped">
      <tr>
        <th>name</th>
        <th>ttl</th>
        <th>type</th>
        <th>prio</th>
        <th>weight</th>
        <th>port</th>
        <th>content</th>
        <th></th>
      </tr>
      <tr>
        <td><input class="" type="text" name="name" size="10" value="{{content['name']}}"></td>
        <td><input type="text" name="ttl" size="6" value="{{content['ttl']}}"></td>
        <td><input type="text" name="type" size="5" value="{{content['type']}}"></td>
        <td><input type="text" name="prio" size="3" value="{{content['prio']}}"></td>
        <td><input type="text" name="weight" size="3" value="{{content['weight']}}"></td>
        <td><input type="text" name="port" size="3" value="{{content['port']}}"></td>
        <td><input type="text" name="content" size="30" value="{{content['content']}}"></td>
        <td><input class="btn btn-primary" type="submit" name="add" value="add"></td>
      </tr>
    {% if errors %}
      <tr>
        <td class="danger">{{ errors['name'] }}</td>
        <td class="danger">{{ errors['ttl'] }}</td>
        <td class="danger">{{ errors['type'] }}</td>
        <td class="danger">{{ errors['prio'] }}</td>
        <td class="danger">{{ errors['weight'] }}</td>
        <td class="danger">{{ errors['port'] }}</td>
        <td class="danger">{{ errors['content'] }}</td>
        <td class="danger"></td>
      </tr>
    {% endif %}
    {% for record in records %}
      <tr>
        <td>{{ record.get('name') }}</td>
        <td>{{ record.get('ttl') }}</td>
        <td>{{ record.get('type') }}</td>
        <td>{{ record.get('prio')|default('', True) }}</td>
        <td>{{ record.get('weight')|default('', True) }}</td>
        <td>{{ record.get('port')|default('', True) }}</td>
        <td>{{ record.get('content') }}</td>
        <td><input class="btn btn-danger" type="submit" name="del:{{record['id']}}" value="del"></td>
      </tr>
    {% else %}
      <tr><td>no records</td></tr>
    {% endfor %}
    </table>
    </form>
  </div>
</div>
{% endblock content %}
